<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Disaster</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/custom.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <link
        href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>

</head>

<body>

    <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <span class="logoimg">
                        <img id="logo" src="images/logo.jpg">
                    </span>
                    UMEED
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="Donationform">Donate</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Games <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="about-us">
                            <li><a href="ant_index">Ant Smasher</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="contactform">Contact</a>
                    </li>
                </ul>

            </div>
        </div><!-- /.container -->
    </nav>

    <!-- Header -->
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>UMEED</h1>
                <p>" We make a LIVING by what we get, But we make a LIFE by what we give "</p>
                <a href="Donationform" class="btn btn-primary btn-lg">Donate</a>
            </div>
            <div class="crossfade">
                <figure></figure>
                <figure></figure>
                <figure></figure>
                <figure></figure>
                <figure></figure>
            </div>
        </div>
    </header>

    <!-- Intro Section -->
    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="green-screen">
                    <button id="changeText">Explore</button>
                    <div>
                        <div class="box">
                            <h2 id="message-1"></h2>
                            <p id="message-2"></p>
                            <p id="message-3"></p>
                        </div>
                    </div>
                    <div>
                        <div id="summery">
                            <h2>Disaster Summary</h2>
                            <p id="message-4"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <h1 style="text-align:center;">Precautions</h1>
    </section>

    <!-- Content 1 -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-responsive img-rectangle center-block" src="images/flood.jpg" alt="">
                </div>
                <div class="col-sm-6">
                    <h2 class="section-header">Floods</h2>
                    <p class="lead text-muted">Elevate your home from the base while constructing to avoid entry of
                        floodwater or construct walls to stop it.If your home is in very low land, then shift to a safer
                        place and keep all furniture at an elevated level.Install the electricity supplying switches and
                        plugs above a certain level from the floor, which is most unlikely to get reached by the
                        floodwater.Do not litter plastics, garbage, or any blockage making materials in the drains.Do
                        not ignore advice, messages, or instructions given by Government and local municipal bodies..
                    </p>
                    <a href="Donationform" class="btn btn-primary btn-lg">Donate</a>
                </div>

            </div>
        </div>
    </section>

    <!-- Content 2 -->
    <section class="content content-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="section-header">Earthquakes</h2>
                    <p class="lead text-light"> Stay as safe as possible during an earthquake. Be aware that some
                        earthquakes are actually foreshocks and a larger earthquake might occur. Minimize your movements
                        to a few steps that reach a nearby safe place and stay indoors until the shaking has stopped and
                        you are sure exiting is safe.If you are outside, remain at the place where you are till the
                        tremor stops. Although, move aside from trees, buildings or electrical connections.Do not remain
                        close to windows, glass, walls or anything that can fall during an earthquake.Av0id bridges and
                        roads damaged by an earthquake.Do not move till the tremor stops.</p>
                    <a href="Donationform" class="btn btn-default btn-lg">Donate</a>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive img-rectangle center-block" src="images/earthquake.jpg" alt="">
                </div>

            </div>
        </div>
    </section>


    <!-- Content 3 -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-responsive img-rectangle center-block" src="images/pandemic.jpg" alt="">
                </div>
                <div class="col-sm-6">
                    <h2 class="section-header">Pandemic</h2>
                    <p class="lead text-muted">Do not plan gatherings in small, constricted, or poorly ventilated
                        spaces.Try keeping the number of guests to a minimum and in-sync with the government’s
                        guidelines on COVID-19. Digital/virtual celebrations are ideal and preferable.Do get yourself
                        fully vaccinated and be honest about your vaccination status.Do observe spacing demarcations and
                        maintain a minimum of 6-feet physical distancing.</p>
                    <a href="Donationform" class="btn btn-primary btn-lg">Donate</a>
                </div>

            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="page-footer">

        <!-- Contact Us -->
        <div class="contact">
            <div class="container">
                <h2 class="section-heading">Contact Us</h2>
                <p><span class="glyphicon glyphicon-earphone"></span><br> 878675436</p>
                <p><span class="glyphicon glyphicon-envelope"></span><br> dinesh.gawas@gmail.com</p>
            </div>
        </div>

        <!-- Copyright etc -->
        <div class="small-print">
            <div class="container">
                <p>Copyright &copy; Inspirathon 2022</p>
            </div>
        </div>

    </footer>

    <script src="js/jquery-1.11.3.min.js"></script>

    <script src="js/bootstrap.min.js"></script>

    <script src="js/jquery.easing.min.js"></script>

    <script src="js/custom.js"></script>

    <script src="js/app.js"></script>

</body>

</html>